a, a:active,
a:visited { color: #2d431a; }
a:hover { color: #f0cc00; }

input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=url]:focus,
textarea:focus {
    -webkit-box-shadow: 0 0 2px 1px #2d431a;
    -moz-box-shadow: 0 0 2px 1px #2d431a;
    box-shadow: 0 0 2px 1px #2d431a;
}

.no-boxshadow input[type=text]:focus,
.no-boxshadow input[type=search]:focus,
.no-boxshadow input[type=email]:focus,
.no-boxshadow input[type=url]:focus,
.no-boxshadow textarea:focus { border: 1px solid #2d431a; }

#primary-nav {
background: #3e7014;
border-top: 1px solid #3e7014;
border-bottom: 1px solid #3e7014;
}

#primary-nav {
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #152905), color-stop(100%, #3e7014));
background-image: -webkit-linear-gradient(#152905, #3e7014);
background-image: -moz-linear-gradient(#152905, #3e7014);
background-image: -o-linear-gradient(#152905, #3e7014);
background-image: linear-gradient(#152905, #3e7014);
}

#primary-nav span:after { border-color: #3e7014 transparent; }

.sidebar_plugin > h3 {color:#3e7014; background-color: #eeeeee; }

.sidebar_plugin { line-height: 1.5em; }

.serendipity_plugin_freetag   a:link  { text-decoration: none; }

.twitter_update_time { font-size: 0.5em; font-color: #aaaaaa; }

#twitter_update_list { line-height: 1em; } 

#banner {
    background-image: url("img/Spacefoto.jpg");
    min-height:216px;
    width:100%;
}

#banner .logo {
    vertical-align: baseline;
    max-height: 180px;
    text-align: center;
    display: inline-block;
    width:30%;
    margin:0;
    margin-top:40px;
    padding:0;
	vertical-align: text-top;
}

#banner .logo img{
    max-height: 140px;
    text-align: center;
}

#banner .title{
	vertical-align: text-top;
    display: inline-block;
    width:30%;
}

#banner a{
    color: #FFFFFF;
    text-decoration:none;
    padding-left:50px;
    text-shadow: black 0.2em 0.2em 0.3em;
}

#banner a h1{
    font-size:2.7em;
    margin-top:25px;
    margin-bottom: 5px;
}


#banner #searchform{
    display: inline-block;
    width:31%;
    text-align: right;
	vertical-align: text-top;
    padding-top:40px; 
}

@media screen and (max-width: 780px) {

    #banner {
        background-image: url("img/spmin.jpg" );
        background-position: center; 
        min-height:330px;
        width:100%;
    }

    #banner #searchform{
        display: block;
        text-align: center;
        width:100%;
        margin:15px 0;
        padding:0;
    }

    #banner .title{
        display: block;
        text-align: center;
        width:100%;
        margin:15px;
        padding:0;
    }

    
    #banner .logo{
        display: block;
        text-align: center;
        width:100%;
        margin:15px;
        padding:0;
    }
}


#primary-nav a:hover,
#primary-nav a:focus {
background: #50911b;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67bf1f), color-stop(100%, #50911b));
background-image: -webkit-linear-gradient(#67bf1f, #50911b);
background-image: -moz-linear-gradient(#67bf1f, #50911b);
background-image: -o-linear-gradient(#67bf1f, #50911b);
background-image: linear-gradient(#67bf1f, #50911b);
}

div.serendipity_freeTag {
    clear:both;
}

ul br {
    display:none;
}
.serendipity_entry_body div div {
    clear: both;
}
.serendipity_entry_body div {
    float: left;
    width:100%;
}
.serendipity_entry_body div.serendipity_imageComment_center {
    float:none;
}
.serendipity_imageComment_txt {
    float: none !important;
}

#searchform
{
    float: none;
    position: relative;
}
